<md-list-item>
  <div class="left">
    {{task.name}}
  </div>
  <div class="right">
    <button md-mini-fab (click)="onDeleteTask()">X</button>
    <button md-raised-button (click)="onEditModeToggle()">{{editMode ? "Cancel" : "Edit"}}</button>
  </div>
  <div *ngIf="editMode">
    <md-input-container>
      <input md-input placeholder="Edit task" #edTask>
    </md-input-container>
    <button md-raised-button (click)="onEditTask(edTask.value); onEditModeToggle()">
      Submit
    </button>
  </div>
</md-list-item>
